.list-container {
  height: 100vh;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 600px) {
  .list-container {
    grid-template-columns: 1fr;
  }
}

.modal.content {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home-icon {
  background-image: url("./assets/HomeIcon.ico");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 2em;
}

.home-icon:hover {
  transform: scale(1.2);
}

.logo {
  background-image: url("./assets/SerengetiLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
